* {
	border: 0;
	font-family: Arial,serif;
	margin: 0;
	padding: 0;
	}

div {
	vertical-align: top;
}

img {
	display: inline-block;
}

a {
	color:#4747D1;
	text-decoration: none;
}


#container {
	height:970px;
	width:970px;
}


#header {
	background-color:white;
	height:150px;
	width: 970px;
}

	#header h1 {
		font-size: 40px;
		font-weight: 500;
		display: inline-block;
		margin: 35px 0px 5px 5px;
	}

	#header img {
		height:70px;
		margin: 20px 0px 0px 15px;
		vertical-align: top;
	}

	#header  ul li {
		display: inline-block;
		list-style-type: none;
	}

	#header h2 {
		background-color:#4747D1;
		color:white;
		font-size:25px;
		font-weight: 600;
		margin-top: 15px;
		padding:12px;
		height::90px;
		width: 970px;		
	}

#sidebar {
	height: 300px;
	display:inline-block;
	line-height: 100%;
	margin:80px 10px 10px 10px;
	width: 250px;
}
	#sidebar h3 {
		color:#4747D1;
		font-size: 17px;
		padding-bottom: 15px;
	}

	#sidebar h4 {
		color:red;
		font-size: 12px;
		margin-bottom: 7px;
	}

	#schedule {
		background-color:#3399FF;
		border-radius: 7px;
		color: white;
		font-size: 17px;
		font-weight: 700;
		height:35px;
		margin:20px 5px 5px 0px;
		width:230px;
	}

	#trial {
		background-color: orange;
		border-radius: 7px;
		color:white;
		font-size: 17px;
		font-weight: 700;
		height: 35px;
		width: 230px;
		margin:5px 5px 5px 0px;
	}

	#sidebar p {
		text-align: center;
	}

	#sidebar_ad {
		background-image: url("left_content_ad.png");
		background-repeat: no-repeat;
		height: 250px;
		margin: 30px 0px 0px 5px;
		width: 200px;
	
	}

#main_content {
	display:inline-block;
	font-size: 12px;
	height: 600px;
	line-height: 175%;
	margin: 10px;
	margin-top:40px;
	width: 600px;
}

	#phone {
		margin-left: 300px;
		vertical-align: top;
	}
	
	#main_content>h1 {
		color:#4747D1;
		font-size: 20px;
	}
	#main_content >h2 {
		border-top: solid #3399FF 3px;
		color:#4747D1; 
		font-size:18px;
		font-weight: bold;
		margin-top:50px;
		padding:5px 0px 10px 0px;
	}
 
	#main_content #ad {
		border:solid #3399FF 8px;
		height:150px;
		width:650px;
	}

h1 {
	display:inline-block;
	text-align: top;
}

img {
	display:inline-block;
}

.inline {
	display: inline;
}

li {
	margin-left: 25px;
}

.bold {
	font-weight: bolder;
}