* {
	border: 0;
	font-family: Arial,serif;
	margin: 0;
	padding: 0;
	}

div {
	vertical-align: top;
	/*border: solid red 1px;*/
}

a {
	display: inline-block;
	color:blue;
}

#container {
	width:970px;
}


#header {
	width: 970px;
}

	#header .logos {
		width:515px;
		height:100px;
		display: inline-block;
	}

		#header .logos h1 {
			display: inline-block;
			margin: 35px 0px 5px 5px;
			color:gray;
		}

		#header .logos img {
			height:70px;
			margin: 20px 0px 0px 15px;
			vertical-align: top;
		}

	#header .details {
		width:445px;
		height:100px;
		display: inline-block;
		color:#4747D1;
		text-decoration: none;
	}

	#header ul {
		border:solid lightgray 1px;
		border-radius: 5px;
		padding-bottom: 5px;
		width: 345px;
		display: inline-block;
		margin-right: 10px
	}

		#header  ul li {
			display: inline-block;
			list-style-type: none;
			font-size: 12px;
			border-right: solid lightgray 1px;
			margin:0px;
			padding:5px;
		}

		#header a {
			text-decoration: none;	
		}

		#login {
			background-color: #0099FF;
			padding:5px;
			border-radius: 5px;
			margin:5px;
		}

	#header h2 {
		background-color:#0099FF;
		color:white;
		font-size:25px;
		padding:12px;
		height::90px;
		width: 946px;		
	}

#sidebar {
	display:inline-block;
	line-height: 100%;
	margin:80px 10px 10px 10px;
	width: 250px;
	padding:5px;
}
	#sidebar h3 {
		color:#4747D1;
		font-size: 17px;
		padding-bottom: 15px;
	}

	#sidebar h4 {
		color:red;
		font-size: 12px;
		margin-bottom: 7px;
	}

	#schedule {
		background-color:#3399FF;
		border-radius: 7px;
		color: white;
		font-size: 17px;
		font-weight: 700;
		height:35px;
		margin:20px 5px 5px 0px;
		width:230px;
	}

	#trial {
		background-color: orange;
		border-radius: 7px;
		color:white;
		font-size: 17px;
		font-weight: 700;
		height: 35px;
		width: 230px;
		margin:5px 5px 5px 0px;
	}

	#sidebar p {
		text-align: center;
	}

	#sidebar_ad {
		background-image: url("left_content_ad.png");
		background-repeat: no-repeat;
		height: 250px;
		margin: 30px 0px 0px 5px;
		width: 200px;
	
	}

#main_content {
	display:inline-block;
	font-size: 13px;
	line-height: 175%;
	margin: 10px;
	margin-top:10px;
	padding:5px;
	width: 650px;
}

	#main_content .logos {
		display: inline-block;
		width:435px;
	}

		#main_content .logos * {
		vertical-align: top;
		}

		#phone {
			margin-left: 340px;
		}

	#main_content .details {
		display: inline-block;
		width: 200px;

	}

	#main_content >h2 {
		border-top: solid lightgray 3px;
		color:#3399FF; 
		margin-top:20px;
		padding:5px 0px 10px 0px;
	}
 
	#main_content #ad {
		border:solid #3399FF 6px;
		3height:150px;
		width:620px;
	}

	#ad .details {
		width:550px;
		font-size: 16px;
		line-height: 150%
	}
	
	#start {
		background-color: #5CE62E;
		color:white;
		border-radius: 5px;
		border: solid lightgray 1px;
		margin: 10px 0px 5px 0px ;
		height:30px;
		padding:5px 15px 5px 15px;

	}
h1 {
	display:inline-block;
	text-align: top;
}

img {
	display:inline-block;
}

.inline {
	display: inline;
}

li {
	margin-left: 25px;
}

.bold {
	font-weight: bolder;
}

.blue {
	color:#0099FF;
}

.light_blue {
	color: lightblue;
}

